$text-colour: #3d3b48

.home
  margin: 50px
  color: black
  font-size: 0.7rem

.dialogue
  li
    display: flex
    justify-content: space-between
    align-items: center

  h1
    text-align: center

    h1
      font-family: "MediumItalic", "Georgia", sans-serif

img
  width: 8rem