$text-colour: #3d3b48

//keyframe animation for fade-in defined
@keyframes fadeInAnimation
  0%
    opacity: 0
  100%
    opacity: 1

//General h1 styling
h1
  font-size: 26px
  text-align: center
  @media (max-width: 600px)
    font-size: 20px

//General h2 styling
h2
  font-size: 23px
  text-align: center
  @media (max-width: 600px)
    font-size: 17px

//Styling for the main home body
.home
  color: black
  max-width: 700px
  margin-left: auto
  margin-right: auto
  padding-left: 20px
  padding-right: 20px

  ul
    li
      font-size: 18px
      @media (max-width: 600px)
        font-size: 16px

  .icon-row
    text-align: center

    .icon
      width: 50px
      padding: 10px 30px

  //Divider line
  .break
    border: 1px dashed black

  //For the character dialogue section and intro at the top
  .dialogue
    padding: 0

    //The parent div for the first message with the Pokemon font
    .message1
      font-family: "Pokemon", "Consolas", monospace
      animation: fadeInAnimation ease 1s
      animation-iteration-count: 1
      animation-fill-mode: forwards
      margin: 10px 0

      h1
        text-align: left
        font-size: 18px
        @media (max-width: 600px)
          font-size: 12px
          padding: 0 0

    //Text inside message1
    .text
      background-color: white
      border-style: solid
      border-width: 3px
      border-color: #3d3b48
      border-radius: 10px
      padding: 10px
      @media (max-width: 600px)
        padding: 0 7px

    //Second sentence underneath the dialogue box
    .message2
      font-size: 20px
      text-align: center
      justify-content: center
      font-family: "Regular", "Georgia", monospace
      opacity: 0
      animation: fadeInAnimation ease 1s
      animation-iteration-count: 1
      animation-fill-mode: forwards
      animation-delay: 3s

    //"We did that"
    .message3
      opacity: 0
      text-align: center
      font-family: "MediumItalic", "Georgia", sans-serif
      justify-content: center
      animation: fadeInAnimation ease 1s
      animation-iteration-count: 1
      animation-fill-mode: forwards
      animation-delay: 5s

    //Line of text enquiring about hiring opportunities before the divider
    .message4
      opacity: 0
      animation: fadeInAnimation ease 1s
      animation-iteration-count: 1
      animation-fill-mode: forwards
      animation-delay: 7s

    //Character portrait
    .portrait
      border: black solid
      border-radius: 10px
      width: 120px
      margin-right: 10px
      margin-top: 10px
      @media (max-width: 600px)
        width: 80px

    //Name above the dialogue box
    .character
      color: black
      text-decoration: none
      font-size: 18px
      padding: 10px 10px
      font-family: "Pokemon", "Consolas", monospace
      @media (max-width: 600px)
        font-size: 12px

    //Row for each message
    li
      display: flex
      justify-content: space-between
      align-items: center

  .name
    font-family: "MediumItalic", "Georgia", sans-serif

//List of programming proficiencies and other skills
.skills
  display: grid

  .proficiency
    grid-column: 1

  .other-skills
    grid-column: 2
    @media (max-width: 600px)
      grid-column: 1

  .skills-title
    text-align: left
    justify-content: left

.employment
  .employment-ussu