$text-colour: #3d3b48;

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 26px;
  text-align: center;
}

h2 {
  font-size: 23px;
  text-align: center;
}

.home {
  color: black;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  ul {
    li {
      font-size: 18px;
    }
  }

  .icon-row {
    text-align: center;

    .icon {
      width: 50px;
      padding: 10px 30px;
    }
  }

  //Divider line
  .break {
    border: 1px dashed black;
  }

  //For the character dialogue section and intro at the top
  .dialogue {
    padding: 0;

    //The parent div for the first message with the Pokemon font
    .message1 {
      font-family: "Pokemon", "Consolas", monospace;
      animation: fadeInAnimation ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      margin: 10px 0;

      //Text inside message1
      .text {
        background-color: white;
        border-style: solid;
        border-width: 3px;
        border-color: #3d3b48;
        border-radius: 10px;
        padding: 10px;
      }

      h1 {
        text-align: left;
        font-size: 18px;
      }
    }

    //Second sentence underneath the dialogue box
    .message2 {
      font-size: 20px;
      text-align: center;
      justify-content: center;
      font-family: "Regular", "Georgia", monospace;
      opacity: 0;
      animation: fadeInAnimation ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 2s;
    }

    //"We did that"
    .message3 {
      opacity: 0;
      text-align: center;
      font-family: "MediumItalic", "Georgia", sans-serif;
      justify-content: center;
      animation: fadeInAnimation ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 4s;
    }

    //Line of text enquiring about hiring opportunities before the divider
    .message4 {
      opacity: 0;
      animation: fadeInAnimation ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 6s;
    }

    //Character portrait
    .portrait {
      border: black solid;
      border-radius: 10px;
      width: 120px;
      margin-right: 10px;
      margin-top: 10px;
    }

    .character {
      color: black;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 10px;
      font-family: "Pokemon", "Consolas", monospace;
      @media (max-width: 600px) {
        font-size: 12px;
      }
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }
  .about {
    .name {
      font-family: "MediumItalic", "Georgia", sans-serif;
    }
    .img-container {
      display: flex;
      justify-content: center;
      .img-graduation {
        border-radius: 10px;
        border: #3d3b48 solid 3px;
        object-fit: cover;
        width: 50%;
        aspect-ratio: 1/1;
      }
    }
  }
}

//List of programming proficiencies and other skills
.skills {
  display: grid;
}

.proficiency {
  grid-column: 1;
}

.other-skills {
  grid-column: 2;
}

.skills-title {
  text-align: left;
  justify-content: left;
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  .home ul li {
    font-size: 16px;
  }
  .dialogue .text {
    padding: 0 7px;
  }
  .dialogue .message1 h1 {
    font-size: 12px;
    padding: 0 0;
  }
  .dialogue .portrait {
    width: 80px;
  }
  .dialogue .character {
    font-size: 12px;
  }
  .other-skills {
    grid-column: 1;
  }
}