$text-colour: #e4d1b3;
$bg-colour: #3d3b48;
$alt-text-colour: #a8947c;

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-colour;
  box-shadow: 0 2px 2px #363636;
  max-height: 70px;

  .nav-name {
    text-decoration: none;
    color: $text-colour;
    font-size: 30px;
    margin: 5vw;
    font-family: "MediumItalic", "Georgia", sans-serif;
  }

  .nav-links {
    display: flex;
    margin: 5vw;

    a {
      color: $text-colour;
      text-decoration: none;
      padding: 0 40px;
      transition: all 0.3s ease;
    }

    a:hover {
      color: $alt-text-colour;
    }
  }

  @media (max-width: 600px) {
    .nav-links {
      display: none;
    }
  }

  .nav-hamburger {
    display: none;
    cursor: pointer;
    @media (max-width: 600px) {
      display: block;
      margin-right: 5vw;
    }

    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 4px;
      margin: 6px 0;
      transition: 0.4s;
      background-color: $text-colour;
      border-radius: 2px;
    }

    .change {
      &.bar1 {
        transform: rotate(-45deg) translate(-7px, 7px);
      }

      &.bar2 {
        opacity: 0;
      }

      &.bar3 {
        transform: rotate(45deg) translate(-7px, -7px);
      }
    }
  }

  .responsive-nav-links {
    display: none;

    @media (max-width: 600px) {
      z-index: 1;
      display: block;
      position: absolute;
      background-color: $bg-colour;
      width: 50%;
      top: 60px;
      left: 50%;
      text-align: center;
      opacity: 95%;

      a {
        display: block;
        color: $text-colour;
        padding: 20px;
        text-decoration: none;
      }
    }
  }
}
