$bar-colour: #3d3b48
$text-colour: #e4d1b3
$alt-text-colour: #a8947c

.navigation .name
  text-decoration: none
  font-family: "MediumItalic", "Georgia", sans-serif
  color: $text-colour
  font-size: 30px
  margin-left: 20%

.navigation

  height: 50px

  display: flex
  align-items: center
  position: relative
  padding: 0.5rem 0rem
  background-color: $bar-colour
  color: black
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.3)

  a
    position: relative
    text-decoration: none
    padding: 1rem 1rem
    color: $text-colour
    font-size: 18px
    line-height: 1.6
    text-align: center
    z-index: 1

  ul
    display: flex
    padding: 0

  li
    list-style-type: none
    margin: 0 2rem

    a
      text-decoration: none
      display: block
      width: 100%
      transition: color 0.5s ease

    a:hover
      color: $alt-text-colour

.navigation-menu
  margin-left: auto
  margin-right: 20%